main {
  font-family: "Montserrat", sans-serif;
}

/* BEGINNIG OF CAREERS SECTION */
.careers__heading{
  background: url("../images/careers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-attachment: fixed;
}

.careers__heading > div{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.careers__text{
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

.careers__text h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300;
}

.careers__text p {
  color: #ffffff;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.careers__text hr{
  width: 40px;
  height: 1px;
  color: lightgreen;
}

@media only screen and (min-width: 600px) {
  .careers__text h2 {
    font-size: 2.5rem;
  }

  .careers__text p {
    color: #ffffff;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
/* END OF CAREERS SECTION */

/* BEGINING OF THE FORM SECTION */
.contact-form__container{
  margin-top: 4rem;
  padding: 0 3rem;
}

.contact-form__container{
  margin-top: 2rem;
  padding: 0 2rem;
}

.contact-form__title{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.formGroup {
  width: 100%;
  margin: 0 auto 0.7rem auto;
}

.formGroup label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
  color: black;
}

.formGroup input, textarea {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid #398448;
  outline: none;
  border-radius: 2px;
}

.formGroup select {
  padding: 0.3rem 0.5rem;
  border: 1px solid #398448;
  outline: none;
  border-radius: 2px;
}

.formGroup input:focus {
  border: 1px solid #dde516;
}

.formGroup-btn {
  margin-top: 1rem;
}

.formGroup-btn button {
  background-color: #f4f968;
  color: #0f0f0f;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 4px;
  transition: all 0.3s;
}

.formGroup-btn button:hover,
.formGroup-btn button:active {
  background-color: #04ed2a;
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .contact-form__container {
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .contact-form__title{
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .contact-form {
    width: 70%;
  }

  .formGroup {
    width: 100%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 0.7rem;
  }
}

@media only screen and (min-width: 780px) {
  .contact-form__container {
    padding: 0 3rem;
    margin-top: 4rem;
  }

  .contact-form__title{
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto 1rem auto;
  }

  .contact-form {
    width: 60%;
  }

  .formGroup {
    width: 100%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .contact-form__container {
    padding: 0 3rem;
    margin-top: 4rem;
  }

  .contact-form__title{
    font-size: 2rem;
    width: 80%;
    font-weight: 400;
    margin: 0 auto 1rem auto;
  }

  .contact-form {
    width: 60%;
  }

  .formGroup {
    width: 60%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 1rem;
  }
}

/* END OF THE FORM SECTION */
