main {
  font-family: "Montserrat", sans-serif;
}

/* BEGINNING OF THE CONTACT US HEADING SECTION */
.contact__heading{
  background: url("../images/slideShow/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-attachment: fixed;
}

.contact__heading > div{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.contact__text{
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center; 
}

.contact__text h2 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 300;
}

.contact__text p {
  color: #ffffff;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__text hr{
  width: 40px;
  height: 1px;
  color: lightgreen;
}

@media only screen and (min-width: 600px) {
  .contact__text p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .contact__heading{
    background-position: 55% 20%;
  }
}
/* END OF THE CONTACT US HEADER */

/* BEGINING OF THE FORM SECTION */
.contact-form__container{
  margin-top: 2rem;
  padding: 0 2rem;
}

.contact-form__title{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  font-weight: 300;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.formGroup {
  width: 100%;
  margin: 0 auto 0.7rem auto;
}

.formGroup label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  font-weight: 500;
  color: black;
}

.formGroup input, textarea {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid #398448;
  outline: none;
  border-radius: 2px;
}

.formGroup select {
  padding: 0.3rem 0.5rem;
  border: 1px solid #398448;
  outline: none;
  border-radius: 2px;
}

.formGroup input:focus {
  border: 1px solid #dde516;
}

.formGroup-btn {
  margin-top: 1rem;
}

.formGroup-btn button {
  background-color: #f4f968;
  color: #0f0f0f;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 4px;
  transition: all 0.3s;
}

.formGroup-btn button:hover,
.formGroup-btn button:active {
  background-color: #04ed2a;
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .contact-form__container {
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .contact-form__title{
    font-size: 2.5rem;
  }

  .contact-form {
    width: 70%;
  }

  .formGroup {
    width: 100%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 0.7rem;
  }
}

@media only screen and (min-width: 780px) {
  .contact-form__container {
    padding: 0 3rem;
    margin-top: 4rem;
  }

  .contact-form__title{
    font-size: 2.5rem;
  }

  .contact-form {
    width: 60%;
  }

  .formGroup {
    width: 100%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .contact-form__container {
    padding: 0 3rem;
    margin-top: 4rem;
  }

  .contact-form__title{
    font-size: 2.5rem;
  }

  .contact-form {
    width: 60%;
  }

  .formGroup {
    width: 60%;
    margin: 0 auto 0.7rem auto;
  }

  .formGroup-btn {
    margin-top: 1rem;
  }

  .formGroup-btn button {
    padding: 1rem;
  }
}
/* END OF THE FORM SECTION */


/* BEGINNING OF CONTACTS SECTION */
.contacts-container{
  margin-top: 3.5rem;
  padding: 2rem 6rem;
}

.contacts-content{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 2rem 23% 2rem 23% 2rem 23%;
  grid-template-columns: repeat(4, 23%);
  grid-column-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
}

.contacts-items{
  text-align: center;
  border: 1px solid #eee;
  padding: 1rem 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.contacts-items p{
  color: #757777;
}

.contacts-items h3{
  color: #242323;
  font-size: 1rem;
}

.contacts-items i{
  color: #879e20;
}

.contacts-items:hover{
  background: #dde516;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .contacts-container{
    margin-top: 1.5rem;
    padding: 2rem 1rem;
  }

  .contacts-container__title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .contacts-content{
    display: block;
  }

  .contacts-items{
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    width: 85%;
    border: 1px solid #398448;
  }

  .contacts-items:hover{
    background: inherit;
    cursor: default;
  }

  .contacts-items:hover h3{
    color: #242323;
  }

  .contacts-items:hover i{
    color: #879e20;
  }
}

@media (min-width: 600px) {
  .contacts-container{
    padding: 2rem;
    margin-top: 1.5rem;
  }

  .contacts-container__title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .contacts-items{
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    margin-bottom: 1.5rem;
  }

  .contacts-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }

  .contacts-items:hover{
    background: inherit;
    cursor: default;
  }

  @supports ((display: -ms-grid) or (display: grid)) {
    .contacts-content{
      display: -ms-grid;
      display: grid;
      /* -ms-grid-columns: (40%)[2]; */
      grid-template-columns: repeat(2, 40%);
      grid-row-gap: 2rem;
    }

    .contacts-items{
      width: 100%;
      border: 1px solid #398448;
    }
  }

  .contact__heading{
    background-attachment: initial;
  }
}

@media (min-width: 992px) {
  .contacts-items{
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%;
  margin-bottom: 1.5rem;
  }

  .contacts-items h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #242323
  }

  .contacts-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }

  .contacts-container{
    padding: 2rem 6rem;
  }

  .contacts-container__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  .contacts-items:hover{
    background: #dde516;
    color: white;
    cursor: pointer;
  }

  .contacts-items:hover p,
  .contacts-items:hover i,
  .contacts-items:hover h3 {
    color: white;
  }

  @supports ((display: -ms-grid) or (display: grid)) {
    .contacts-content{
      grid-template-columns: repeat(3, 30%);
    }
  }

  .contact__heading{
    background-attachment: initial;
  }
}

@media only screen and (min-width: 1300px) {
  .contact__heading{
    background-attachment: fixed;
  }
}
/* END OF CONTACTS SECTION */

.enableButton{
  transform: scale(1.05);
}